.header{
   background-color: none;
   position: fixed;
    z-index: 5;
   
}
.header.scrolled {
    background: white
}
.logo-name h5{
    font-size: 28px;
    color:#3f396d
}
.logo-span{
    color:#fca61f
}
.header-list ul li{
      display: inline-block;
      padding: 1rem; 
  }
  .header-list ul li{
   font-size: 19px;
   color: #3f396d;
}


 #btn,
 #cancel{
    color: black;
    font-size: 30px;
    margin: 100%;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 500px) {
    #btn{
        display: block;
    }
    .navList ul li{
        display: block;
    }
    .header ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(242, 242, 255);
    background: linear-gradient(
      33deg,
      rgba(242, 242, 255, 1) 0%,
      rgba(235, 249, 255, 1) 100%
    );
    top: 80px;
    left: -10%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
}
/* #check:checked ~ ul{
    left: 0;
}
#check:checked ~ label #btn{
    display: none;
}
#check:checked ~ label #cancel{
    display: block;
} */
}