.container {
  background: rgb(242, 242, 255);
  background: linear-gradient(
    33deg,
    rgba(242, 242, 255, 1) 0%,
    rgba(235, 249, 255, 1) 100%
  );
  overflow: hidden;
}

.dynamic-txt {
  overflow: hidden;
  margin: 0;
  display: inline-block;
}
.dynamic-txt {
  list-style: none;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txt b {
  position: relative;
}
.dynamic-txt b::after {
  content: "";
  position: absolute;
  top: -5%;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    33deg,
    rgba(242, 242, 255, 1) 0%,
    rgba(235, 249, 255, 1) 100%
  );
  border-left: 2px solid #fca61f;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.banner-text span {
  font-weight: bold;
  color: #3f396d;
  font-size: 3rem;
  display: flex;
  justify-content: flex-start;


}
  
.banner-text b {
  display: flex;
  justify-content: flex-start;
  color: #6f34fe;
  font-size: 5rem;
}
.banner-text p {
  display: flex;
  justify-content: flex-start;
  color: #3f396d;
  font-size: 1.2rem;
}
.hire-me a {
  color: white;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@-webkit-keyframes left-mover {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(10px);
  }
}
@-webkit-keyframes right-mover {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(-10px);
  }
}
.banner-right-con img[alt="banner-right-img"] {
  animation: right-mover 1s ease-in-out infinite alternate;
}


.large_circle,
.small_circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #6f34fe;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  /* transform: translate(calc(-50% + 15px), -50%); */
  transform: translate(-50%, -50%);
  z-index: 9;
}
.small_circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fca61f; 
  
}

.expertise{
  background: rgb(242, 242, 255);
  background: linear-gradient(
    33deg,
    rgba(242, 242, 255, 1) 0%,
    rgba(235, 249, 255, 1) 100%
  );

  
}
.expertise-card{
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0 85px 0 #e9eefc;
 
}
.expertise-card:hover{
border-color: #6f34fe;
transform: translateY(-8px);
transition: transform .4s linear;
}
.skill{
  background:#e9eefc;
}

 @media (max-width: 500px) {
  .banner-text b {
    justify-content: center;
    font-size: 3rem;
  }
  .banner-text span {
    justify-content: center;
    font-size: 2rem;
   }
  .banner-text p {
    font-size: 1rem;
    justify-content: center;
  }

  .dynamic-txt{
    display:flex;
    flex-direction: column;
     justify-content:center;
  }
}

  @media (max-width: 400px) {
    .banner-text b {
      font-size: 2rem;
    }
   
} 